body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 600;
  box-shadow: 0px 5px 10px -5px rgba(175, 175, 175, 1);
  position: relative;
}

#header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 75%;
}

.header-btn {
  border: none;
  height: 50px;
  width: 100px;
  border-radius: 5px;
  margin: 0px 40px;
  font-size: 17px;
  font-weight: 500;
}

button:hover {
  cursor: pointer;
}

.header-btn:hover {
  filter: brightness(85%);
}

#content {
  background-color: rgb(248, 244, 239);
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

#library {
  min-height: 100%;
  width: 75%;
}

footer {
  margin-top: auto;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  background-color: rgb(248, 244, 239);
}
